<!-- <a class="btn-primary" routerLink="login" (click)="removetoken()">LOGIN PAGE</a> -->
<!-- <button class="btn btn-primary" type="button" routerLink="login" style="width: 10%; justify-content: center; display:flex;" (click)="removetoken()">Login Page</button> -->
<router-outlet></router-outlet>

