<nav class="navbar navbar-light" style="display: block; padding-right: 5%; padding-left: 5%; background-color: azure;">
      <h3><b> <a class="navbar-brand" href="leads">Leads <span class="sr-only"></span></a>
       <a class="navbar-brand" href="data">Data</a><span class="sr-only">(current)</span></b></h3>
  </nav>
  <!-- <div class="diaplaydata" style="padding-left: 5%; padding-right: 5%;">
<table class="table table-bordered table-hover">
    <thead>
       <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of users">
           <td>{{ data.name }}</td>
           <td>{{ data.email }}</td>
           <td>{{ data.gender }}</td>
           <td>{{ data.phone }}</td>
          </tr>
     </tbody>
  </table>
  </div> -->
  <mat-form-field appearance="standard" style="padding-left: 10%;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
<div class="mat-elevation-z8">
   <table mat-table [dataSource]="dataSource"  matSort style="width: 100%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let data"> {{data.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let data"> {{data.email}} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let data"> {{data.gender}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let data"> {{data.phone}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 50]"
                 showFirstLastButtons 
                 aria-label="Select page">
  </mat-paginator>
  </div>